FinalYearProject/*.pfx
FinalYearProejct/obj/*
FinalYearProject/bin/Debug/*.exe
FinalYearProject/bin/Debug/*.config
FinalYearProject/bin/Debug/*.application
FinalYearProject/bin/Debug/*.manifest
FinalYearProject/bin/Debug/*.pdf
FinalYearProject/obj/x86/Debug/*.application
FinalYearProject/obj/x86/Debug/*.exe
FinalYearProject/obj/x86/Debug/*.pdb